@font-face {
    font-family: NovaMono;
    src: url(fonts/NovaMono.ttf);
}

body {
    margin: 0;
    font-family: NovaMono;
    text-transform: uppercase;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Disable text selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    vertical-align: middle;

    // Needed for OSX Safari
    min-height: 100%;
}


#screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 1s;
    color: white;
    cursor: pointer;
}

#title {
    font-size: 100px;
    line-height: 110px;
}

#title > span:nth-of-type(1) { color: #fde6d0; }
#title > span:nth-of-type(2) { color: #fddbb3; }
#title > span:nth-of-type(3) { color: #eba69d; }
#title > span:nth-of-type(4) { color: #c7676f; }
#title > span:nth-of-type(5) { color: #8f3b50; }
#title > span:nth-of-type(6) { color: #441833; }

#loading, #play {
    font-size: 30px;
}

#play {
    display: none;
}

.transparent {
    opacity: 0;
}

.speaker {
    width: 22px;
    position: relative;
    left: 5px;
}